<div id="screenHolder" class="container w-100 h-100" guestId={{user.guestId}} callerId={{user.callerId}}>
    <!-- <img width="100%" height="100%" src="./img/00001.png" alt=""> -->
    <img id="imageHolder" alt="Screen holder">
</div>
<!-- Modal -->
<div class="modal fade" id="welcomemodal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Incomming screen share by {{user.callerName}}</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="guestname" class="col-form-label">Enter your name:</label>
                    <input type="text" class="form-control" id="guestname">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" screensharebuttons purpose="viewScreen">View
                    Screen</button>
            </div>
        </div>
    </div>
</div>
